# MongoDB Configuration
# Replace with your MongoDB connection string
MONGO_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/volubiks?retryWrites=true&w=majority

# Server Configuration
PORT=3000

